<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar bg-light d-flex">
        <div class="ms-4 me-auto">
            <a href="/recipes" class="navbar-brand">Recipe Share</a>
        </div>
        <div>
            <a href="/logout"><button class="btn btn-primary btn-sm ms-2 me-4">Log Out</button></a>
        </div> 
    </nav>
    <div class="container mt-4 col-lg-4">
        <div class="row">
            <h1 class="mb-4">Welcome, {{user.first_name}}</h1>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center mb-4">
            <h4 class="align-middle">All posted recipes:</h4>
            <a href="/recipes/create"><button class="btn btn-primary">Create</button></a>
        </div>
        <div class="row">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="align-middle">Name</th>
                        <th class="align-middle">Under 30</th>
                        <th class="align-middle">Posted By</th>
                        <th class="align-middle">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <td class="align-middle">{{ recipe.name }}</td>
                            <td class="align-middle">{{ recipe.under }}</td>
                            <td class="align-middle">{{ recipe.creator.first_name }}</td>
                            <td class="align-middle">
                                <a href="#"><button class="btn btn-success me-1">View</button></a>
                                {% if recipe.creator.id == user.id %}
                                <a href="#"><button class="btn btn-warning mb-1 me-1">Edit</button></a>
                                <a href="#"><button class="btn btn-danger mb-1">Delete</button></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>